# Ignore build directories
/build/
/CMakeFiles/
/CMakeCache.txt
/Makefile
/*.cmake

# Ignore output directories
/vcmxDir/
/unzipDir/
/jsonDir/
/3DModelData/


# Ignore IDE specific files
.idea/
.vscode/
*.iml